body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

/* Search Panel creation*/
.search-panel {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Container styling */
.container {
  margin: 0 auto;
  max-width: 1200px; /* Adjust as needed */
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#map {
  height: 70vh; /* Adjust height as needed */
  width: 100%;
}

/* Description styling */
.description {
  text-align: left;
  margin: 0 auto 20px auto; /* Adjust as needed */
  max-width: 100%; /* Adjust as needed */
}

.search-box {
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.search-box input {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  background: white;
  position: absolute;
  width: 200px;
  z-index: 1001;
}
.suggestions li {
  padding: 5px;
  cursor: pointer;
}
.suggestions li:hover {
  background: #eee;
}

/* Center the iframe container */
.iframe-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Style the iframe */
.iframe-container iframe {
  width: 90%; /* Adjust width as needed */
  height: 800px; /* Reduced height */
  border: none;
}

/* Divider styling */
.divider {
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}
